.frame-child {
    position: relative;
    border-radius: var(--br-8xs);
    background-color: var(--blue30);
    width: 262px;
    height: 262px;
  }
  .xbrin-bal,
  .xbrin-tsviri {
    position: relative;
    letter-spacing: 0.05em;
    line-height: 150%;
    display: inline-block;
    width: 261px;
  }
  .xbrin-bal {
    text-transform: capitalize;
    font-weight: 600;
  }
  .xbrin-tsviri {
    font-size: var(--font-size-sm);
    font-weight: 500;
    color: var(--gray4);
    height: 93px;
    flex-shrink: 0;
  }
  .xbrin-bal-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  .xbrin-tarixi {
    position: relative;
    letter-spacing: 0.05em;
    line-height: 150%;
    text-transform: capitalize;
    font-weight: 500;
  }
  .system-uiconsarrow-up {
    position: relative;
    width: 21px;
    height: 21px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .davam-parent,
  .xbrin-tarixi-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--blue10);
  }
  .xbrin-tarixi-parent {
    width: 261px;
    justify-content: space-between;
    font-size: var(--font-size-sm);
    color: var(--gray2);
  }
  .rectangle-parent {
    border-radius: var(--br-smi);
    background-color: var(--color-white);
    box-shadow: var(--shadow);
    border: 2px solid var(--blue30);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--padding-base);
    gap: var(--gap-5xs);
  }
  .saf-2023,
  .saf-steam-azerbaijan {
    align-self: stretch;
    position: relative;
  }
  .saf-2023 {
    letter-spacing: 0.05em;
    line-height: 150%;
    text-transform: capitalize;
    font-weight: 600;
  }
  .saf-steam-azerbaijan {
    font-size: var(--font-size-xs);
    line-height: 132%;
    font-weight: 500;
    color: var(--gray3);
    display: inline-block;
    height: 93px;
    flex-shrink: 0;
  }
  .rectangle-group,
  .saf-2023-parent {
    display: flex;
    flex-direction: column;
    gap: var(--gap-5xs);
  }
  .saf-2023-parent {
    width: 261px;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .rectangle-group {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-smi);
    background-color: var(--color-white);
    box-shadow: var(--shadow);
    border: 2px solid var(--blue30);
    align-items: center;
    justify-content: center;
    padding: var(--padding-base);
  }
  .logo-icon {
    position: absolute;
    top: 86px;
    left: 27px;
    width: 241px;
    height: 122.25px;
    overflow: hidden;
  }
  .frame-parent {
    position: relative;
    width: 294px;
    height: 462px;
  }
  .web-wcubb-100-1-icon {
    position: relative;
    border-radius: var(--br-6xs);
    width: 262px;
    height: 262px;
    object-fit: cover;
  }
  .masir-texnologiya-dvrnd {
    position: relative;
    font-size: var(--font-size-xs);
    line-height: 132%;
    font-weight: 500;
    color: var(--gray3);
    display: inline-block;
    width: 261px;
    height: 93px;
    flex-shrink: 0;
  }
  .davam-container,
  .web-wcubb-100-1-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .davam-container {
    flex-direction: row;
    color: var(--blue10);
  }
  .web-wcubb-100-1-parent {
    border-radius: var(--br-smi);
    background-color: var(--color-white);
    box-shadow: var(--shadow);
    border: 2px solid var(--blue30);
    flex-direction: column;
    padding: var(--padding-base);
    gap: var(--gap-5xs);
  }
  .news1 {
    width: 1240px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .news {
    position: absolute;
    top: 246px;
    left: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;
    font-size: var(--font-size-xl);
  }
  .span {
    color: var(--gray2);
  }
  .div12 {
    position: relative;
    letter-spacing: 0.05em;
    line-height: 150%;
    font-weight: 500;
  }
  .newspage-inner,
  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .newspage-inner {
    position: absolute;
    top: 2254px;
    left: calc(50% - 620px);
    width: 1240px;
    justify-content: space-between;
    font-size: 20.21px;
    color: var(--blue10);
  }
  .stockartboard-7-icon {
    position: relative;
    width: 114px;
    height: 41px;
    object-fit: cover;
    cursor: pointer;
  }
  .haqqmzda,
  .sas {
    position: relative;
  }
  .sas {
    align-self: stretch;
  }
  .haqqmzda {
    font-weight: 600;
  }
  .qrbi-kaspi-universiteti-parent {
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-5xs);
    font-size: var(--font-size-sm);
    color: var(--gray3);
  }
  .footer1,
  .footer1-parent,
  .qrbi-kaspi-universiteti-parent {
    display: flex;
    align-items: flex-start;
  }
  .footer1 {
    width: 200px;
    height: 130px;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-9xs) var(--padding-5xs);
    box-sizing: border-box;
    gap: var(--gap-base);
  }
  .footer1-parent {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer2-child {
    position: relative;
    border-top: 0.6px solid var(--color-gray-100);
    box-sizing: border-box;
    width: 1240.6px;
    height: 0.6px;
  }
  .texnopark-btn {
    position: relative;
    font-weight: 500;
  }
  .footer2,
  .footerdesk,
  .navbarsecond {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .footer2 {
    align-self: stretch;
    background-color: var(--color-white);
    flex-direction: column;
    gap: var(--gap-smi);
    font-size: var(--font-size-sm);
    color: var(--gray2);
  }
  .footerdesk,
  .navbarsecond {
    box-sizing: border-box;
  }
  .footerdesk {
    position: absolute;
    bottom: 0;
    left: calc(50% - 720px);
    background-color: var(--color-white);
    width: 1440px;
    flex-direction: column;
    padding: var(--padding-13xl) var(--padding-81xl);
    gap: var(--gap-19xl);
    font-size: var(--font-size-base);
    color: var(--gray4);
  }
  .navbarsecond {
    width: 1240px;
    flex-direction: row;
    padding: var(--padding-9xs) var(--padding-5xs) var(--padding-9xs) 0;
    gap: var(--gap-base);
  }
  .xbrlr1 {
    position: relative;
    font-weight: 600;
    cursor: pointer;
  }
  .secondnavbar,
  .stockartboard-7-parent {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: var(--gap-base);
  }
  .secondnavbar {
    align-items: flex-start;
    padding: var(--padding-9xs) var(--padding-5xs);
  }
  .stockartboard-7-parent {
    align-items: center;
  }
  .qeydiyyat {
    position: relative;
    letter-spacing: 0.05em;
    font-weight: 600;
  }
  .qeydiyyat-wrapper {
    border-radius: var(--br-6xs);
    background-color: var(--mainblue);
    flex-direction: row;
    justify-content: center;
    padding: var(--padding-xs) var(--padding-13xl);
    text-align: center;
    font-size: var(--font-size-sm);
    color: var(--color-white);
  }
  .frame-parent1,
  .navbardesk,
  .qeydiyyat-wrapper {
    display: flex;
    align-items: center;
  }
  .frame-parent1 {
    width: 1240px;
    flex-direction: row;
    justify-content: space-between;
    font-size: var(--font-size-base);
    color: var(--color-dimgray-200);
  }
  .navbardesk {
    position: absolute;
    top: 0;
    left: calc(50% - 720px);
    background-color: var(--color-white);
    width: 1440px;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-base) 0;
    box-sizing: border-box;
    gap: var(--gap-base);
    color: var(--color-dimgray-100);
  }
  .primesearch-icon {
    position: relative;
    width: 24px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .search {
    position: relative;
  }
  .primesearch-parent {
    position: absolute;
    top: 164px;
    left: calc(50% - 172px);
    border-radius: 39px;
    background-color: var(--blue30);
    width: 345px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-5xs);
    box-sizing: border-box;
    gap: var(--gap-base);
    color: var(--gray3);
  }
  .newspage {
    position: relative;
    border-radius: 12px;
    background-color: var(--color-white);
    width: 100%;
    height: 2710px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-xs);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  