.margin_top_for_learning {
    margin-top: 8% !important;
}

.margin_top_for_news_container {
    margin-top: 5% !important;
}

.card-title {
    font-size: 18px !important;
    font-weight: bold !important;
}

.scrollable-row {
    display: flex !important;
    overflow-x: auto !important;
    white-space: nowrap !important;
}

.scrollable-row .col-md-4 {
    display: inline-block !important;
    float: none !important;
}

.w-85 {
    width: 85% !important;
}

#secondary-navbar-list li {
    margin-right: 16px !important;
}

.swal2-html-container {
    text-align: left !important;
}

.swal2-header {
    text-align: left !important;
}

.swal2-title {
    text-align: left !important;
}
.swal2-popup {
    border-radius: 16px !important;
}
.secondary-navbar .navbar-collapse {
    overflow-x: auto;
    white-space: nowrap;
}

.secondary-navbar .navbar-nav {
    flex-wrap: nowrap;
}