.card {
    border: none;
}

.card .card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.margin_top_for_what_is_a_texnopark {
    margin-top: 5%;
}

.margin_top_for_join_texnopark {
    margin-top: 5%;
}
.margin_top_for_gallery_in_about {
    margin-top: 5%;
}