:root {
    --main-color-texnopark: #FFFFFF;
    --navbar_up_text: #686868;
    --navbar_down_text: #666666;
    --texno_color: #4764BF;
    --register_button_hover: #283E85;
    --texno-gray-color: #888888;
    --texno_gray_3: #BBBBBB;
    --texno_gray_2: #333333;
    --texno_blue_3: #3DB2BF;
    --texno_blue_3_dark_version: #197d88;
}

body {
    background-color: var(--main-color-texnopark);
}

.texnopark_white_text,
.register_button_navbar:hover,
.register_button_navbar:focus,
.projects_photo_button,
.projects_photo_button:hover {
    color: var(--main-color-texnopark);
}

.texnopark_main_background_color {
    background-color: var(--texno_color);
}

.navbar_up_text_color {
    color: var(--navbar_up_text);
}

.navbar_down_text_color {
    color: var(--navbar_down_text);
}

.register_button_navbar:hover,
.register_button_navbar:focus,
.projects_photo_button:hover {
    background-color: var(--register_button_hover);
}

.footer_link_color,
.contest_title_color,
.news_description_color,
.projects_item_description_text_color,
.contact_page_social_color,
.contact_form_placeholder_color,
.startup_banner_description_color,
.startups_description_color,
.learning_banner_content_text_color,
.learning_card_content_description_text_color,
.learning_popup_content_description_text_color {
    color: var(--texno-gray-color);
}

.copyright_and_datetime_color,
.news_date_color,
.learning_page_tab_title_color {
    color: var(--texno_gray_3);
}

.texno_banner_text_color,
.news_title_color,
.learning_tab_item_content_description_color {
    color: var(--texno_gray_2);
}

.see_more_color {
    color: var(--texno_blue_3);
}
.projects_photo_button {
    background-color: var(--texno_blue_3);
}

.projects_photo_button:hover {
    background-color: var(--texno_blue_3_dark_version);
}

.btn-category {
    background-color: #E6EAF7;
    color: black;
}

.btn-category.active {
    background-color: #4764bf;
    color: white;
}

.projects_description_color {
    color: var(--texno-gray-color);
}

.form_submit_button_background_color {
    background-color: var(--main-color-texnopark) !important;
}