:root {
    --main-color-texnopark: #FFFFFF;
    --navbar_up_text: #686868;
    --navbar_down_text: #666666;
    --texno_color: #4764BF;
    --register_button_hover: #283E85;
    --texno-gray-color: #888888;
    --copyright_and_datetime: #BBBBBB;
    --texno_gray_2: #333333;
    --texno_blue_3: #3DB2BF;
    --texno_blue_3_dark_version: #197d88;
}

body {
    background-color: var(--main-color-texnopark);
}
.texnopark_white_text {
    color: var(--main-color-texnopark);
}

.texnopark_main_background_color {
    background-color: var(--texno_color);
}
.navbar_up_text_color {
    color: var(--navbar_up_text);
}

.navbar_down_text_color {
    color: var(--navbar_down_text);
}

.register_button_navbar:hover {
    background-color: var(--register_button_hover);
    color: var(--main-color-texnopark);
}

.register_button_navbar:focus {
    background-color: var(--register_button_hover);
    color: var(--main-color-texnopark);
}
.footer_link_color {
    color: var(--texno-gray-color);
}

.copyright_and_datetime_color {
    color: var(--copyright_and_datetime);
}
.texno_banner_text_color {
    color: var(--texno_color);
}
.contest_title_color {
    color: var(--texno-gray-color);
}
.news_title_color {
    color: var(--texno_gray_2);
}
.news_description_color {
    color: var(--texno-gray-color);
}
.see_more_color {
    color: var(--texno_blue_3);
}
.news_date_color {
    color: var(--copyright_and_datetime);
}
.projects_photo_button {
    background-color: var(--texno_blue_3);
    color: var(--main-color-texnopark);
}
.projects_photo_button:hover {
    background-color: var(--texno_blue_3_dark_version);
    color: var(--main-color-texnopark);
}
.projects_item_description_text_color {
    color: var(--texno-gray-color);
}