.navbar-brand img {
    width: 6vw;
    max-width: 95%;
    min-width: 82px;
    height: auto;
}

.register_button_navbar:hover {
    border-radius: 0.375rem;
}
.footer_margin_top {
    margin-top: 8%;
}
.footer-brand {
    width: 6vw;
    max-width: 114px;
    min-width: 114px;
    height: auto;
}
.banner_image_left_margin {
    margin-left: 64px;
}

@media (max-width: 767px) {
    .footer-margin-left {
        padding-left: 100px;
    }
    .banner_image_left_margin {
        margin-left: 0;
    }
}


.marquee-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 80%;
    margin: auto;
}
.marquee {
    --duration: 100s;
    --gap: 2rem;
    display: flex;
    overflow: hidden;
    user-select: none;
    width: 100%;
}
.marquee__group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
    animation: scroll var(--duration) linear infinite;
}
@media (prefers-reduced-motion: reduce) {
    .marquee__group {
      animation-play-state: paused;
    }
}
.marquee__group img {
    width: 140px;
    height: auto;
    object-fit: cover;
}

@media (max-width: 767px) {

    .marquee__group img {
        width: 125px;
        height: auto;
        object-fit: cover;
    }
    
}
@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100% - var(--gap)));
    }
}

.margin_top_for_contests {
    margin-top: 5%;
}
.margin_top_for_news {
    margin-top: 8%;
}

.margin_top_for_projects {
    margin-top: 5%;
}

.project-container {
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 5%;
}

.active-border {
    border: 2px solid #3DB2BF !important;
    border-radius: 12px;
    background-color: white !important;
    color: black !important;
    height: 120px;
}

.list-group-item {
    margin-bottom: 10px;
    border: 2px solid transparent;
    height: 120px;
    width: 100%;
}

.projects_photo_button {
    width: 33%; 
    height: 10%; 
    border-radius: 78px;
    outline: #e6eaf7e2 10px solid;
    opacity: 100%;
}

.max-height-for-news-item {
    height: 100% !important;
}