.texno-icon {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.texno-soft-icon { 
    background-image: url("../images/topImages/icons/projectsTypeIcon/software.png");
}

.texno-bio-icon {
    background-image: url("../images/topImages/icons/projectsTypeIcon/biology.png");
}

.texno-hard-icon {
    background-image: url("../images/topImages/icons/projectsTypeIcon/hardware.png");
}

.texno-full-icon {
    background-image: url("../images/topImages/icons/projectsTypeIcon/full.png");
}

.texno-software-icon { 
    background-image: url("../images/topImages/icons/projectsTypeIcon/software.png");
}

.texno-biology-icon {
    background-image: url("../images/topImages/icons/projectsTypeIcon/biology.png");
}

.texno-hardware-icon {
    background-image: url("../images/topImages/icons/projectsTypeIcon/hardware.png");
}